@import 'styles/variables.scss';

.App {
  padding: 10px;
  color: $c-white;

  &__wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1004px;
    min-height: calc(100vh - 20px);
    background-image: linear-gradient(to right top, #B066FE, #63E2FF);
    border-radius: 4px;
  }

  &__footer {
    margin-top: auto;
  }
}
