@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.Main {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  padding-top: 0;
  z-index: 1;

  &__summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 60px;
    width: 100%;
  }
  
  &__summary-left {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 10px;
    padding-right: 75px;
    margin-right: -5px;
    width: 50%;
    height: 100%;
    min-height: 30px;
    background-color: $c-blue-dark;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
  }

  &__summary-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -5px;
    padding: 5px 10px;
    padding-left: 75px;
    width: 50%;
    height: 100%;
    min-height: 30px;
    background-color: $c-blue-dark;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
  }

  &__summary-item {
    &_icon {
      width: 50px;
    }

    &_description {
      width: 100px;
    }
  }

  &__summary-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__temperature {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;

    &::after {
      position: absolute;
      content: '';
      @include center-poa;
      width: 140px;
      height: 140px;
      background-color: $c-blue-dark;
      border-radius: 50%;
      z-index: 1;
    }
  }

  &__temperature-wrap {
    position: absolute;
    font-size: 60px;
    z-index: 10;
  }

  &__temperature-figure {
    margin: 0 5px;
  }

  &__temperature-unicode {
    position: absolute;
    bottom: 0;
    right: 50%;
    font-size: 24px;
    transform: translate(50%, 100%);
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 5px;
    width: 100%;
    max-height: 140px;
  }

  &__content-line {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
    width: calc((100% - 40px) / 3);

    &:nth-child(-n + 8) {
      margin-right: 10px;
    }
  }

  &__line-content {
    &_right {
      flex-shrink: 0;
    }
  }
}